Package: enigma2-plugin-extensions-virtualzappicon
Version: 1.3
Section: misc
OE: enigma2-plugins
License: CC_BY-NC-SA_3.0
Priority: optional
Architecture: all
Depends: enigma2
Conflicts: enigma2-plugin-extensions-virtualzap
Maintainer: herpoi <herpoi2006@gmail.com>
Description: E2 VirtualZap plugin with picon widget
Source: https://github.com/herpoi
Homepage: https://github.com/herpoi
